.about-preview {
    background-color: var(--color-bg-light);
}

.about-preview__container {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    align-items: center;
    gap: 60px;
}

.about-preview__image {
    position: relative;
    min-height: 520px;
}

.about-preview__image::before {
    content: "";

    position: absolute;
    top: -18px;
    left: -18px;

    width: 140px;
    height: 140px;

    border-top: 2px solid var(--color-accent);
    border-left: 2px solid var(--color-accent);

    z-index: 2;
}

.about-preview__image::after {
    content: "";

    position: absolute;
    right: -18px;
    bottom: -18px;

    width: 140px;
    height: 140px;

    border-right: 2px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);

    z-index: 2;
}

.about-preview__image img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    display: block;

    filter: brightness(0.8) contrast(1.05);

    border: 1px solid rgba(217, 164, 65, 0.35);

    box-shadow:
        0 0 25px rgba(217, 164, 65, 0.12),
        0 25px 60px rgba(0, 0, 0, 0.45);

    transition:
        transform 0.4s ease,
        box-shadow 0.4s ease,
        filter 0.4s ease;
}

.about-preview__image:hover img {
    transform: scale(1.015);

    filter: brightness(0.9) contrast(1.05);

    box-shadow:
        0 0 40px rgba(217, 164, 65, 0.28),
        0 30px 70px rgba(0, 0, 0, 0.55);
}

.about-preview__content {
    max-width: 560px;
    min-height: 520px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-preview__content .section-header__title {
    margin-bottom: 28px;
}

.about-preview__content .button {
    align-self: flex-start;
    width: auto;
    min-width: 180px;
}

.about-preview__text {
    margin-bottom: 18px;

    color: var(--color-text);

    font-size: 15px;
    line-height: 1.8;
}

.about-preview__list {
    margin: 30px 0 36px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-preview__list li {
    position: relative;
    padding-left: 34px;

    color: var(--color-white);

    font-size: 14px;
    font-weight: 600;
}

.about-preview__list li::before {
    content: "✓";

    position: absolute;
    left: 0;
    top: 50%;

    width: 21px;
    height: 21px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(217, 164, 65, 0.5);

    color: var(--color-accent);

    font-size: 12px;
    font-weight: 900;

    transform: translateY(-50%);
}

.about-preview .section-header__title{
    font-size: 56px;
    line-height: 1.1;
}

.button--primary{
    min-height: 58px;
    padding: 0 38px;
}